TaskWidget {
   align: center middle;
   layout: horizontal;
   background: $boost;
   height: 7;
}

Button {
    dock: left;   
    padding: 1;
    margin: 1;
    height: 5;
    width: 20;
}

Label {
    align: left middle;

}



